#student-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Progress Bar */
.form-progress {
  text-align: center;
  margin-bottom: 20px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  position: relative;
}

.circle.active {
  background-color: #faaf16;
}

.line {
  width: 100px;
  height: 2px;
  background-color: grey;
  position: relative;
  margin: 0 10px;
}

.line.active {
  background-color: #faaf16;
}

/* Form Steps */
.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

label {
  display: block;
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

input[type="button"],
input[type="submit"] {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #faaf16;
  border: none;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-left: 5px;
}

#upload-area {
  width: 100%;
  padding: 20px;
  border: 2px dashed #ccc;
  text-align: center;
  cursor: pointer;
  position: relative;
}

#file-browse {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#file-list {
  list-style: none;
  margin-top: 10px;
}

#file-list li {
  margin: 5px 0;
}

/* Preview Area */
#preview-area {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.preview-item {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remove-preview {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

/* From Uiverse.io by guilhermeyohan */
.checkbox-wrapper-31:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}

.checkbox-wrapper-31 .background {
  fill: #ccc;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  -appearance: none;
  -webkit-appearance: none;
}

.checkbox-wrapper-31 input[type="checkbox"]:hover {
  cursor: pointer;
}

.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .background {
  fill: #faaf16;
}

.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .stroke {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .check {
  stroke-dashoffset: 0;
}

#step-4 label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.custom-loader {
  width: 70px;
  height: 70px;
  background: #ffa600;
  border-radius: 50px;
  -webkit-mask: radial-gradient(
        circle 31px at 50% calc(100% + 13px),
        #000 95%,
        #0000
      )
      top 4px left 50%,
    radial-gradient(circle 31px, #000 95%, #0000) center,
    radial-gradient(circle 31px at 50% -13px, #000 95%, #0000) bottom 4px left
      50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: cu10 1.5s infinite;
}

@keyframes cu10 {
  0% {
    -webkit-mask-size: 0 18px, 0 18px, 0 18px, auto;
  }

  16.67% {
    -webkit-mask-size: 100% 18px, 0 18px, 0 18px, auto;
  }

  33.33% {
    -webkit-mask-size: 100% 18px, 100% 18px, 0 18px, auto;
  }

  50% {
    -webkit-mask-size: 100% 18px, 100% 18px, 100% 18px, auto;
  }

  66.67% {
    -webkit-mask-size: 0 18px, 100% 18px, 100% 18px, auto;
  }

  83.33% {
    -webkit-mask-size: 0 18px, 0 18px, 100% 18px, auto;
  }

  100% {
    -webkit-mask-size: 0 18px, 0 18px, 0 18px, auto;
  }
}

.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffffa8;
}
